
.legend {
  height: 5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: rgb(255, 221, 127);
  z-index: 3;
  padding-left: 5rem;
  align-items: center;
  position: fixed;
}

.legendImg {
  height: 5rem;
  justify-self: center;
} 
.findItem {
  justify-self: start;
  align-self: center;
}

.heroPhoto {
  width: 100%;
}

.pop-up {
  position: absolute;
  height: 6rem;
  width: 10rem;
  z-index: 2;
  grid-template-rows: 1fr 1fr 1fr;
}
.highlight {
  position: absolute;
  height: 60px;
  width: 60px;
  border: dashed 5px rgb(0, 255, 0);
  border-radius: 50%;
}
#highlight {
  display: none;
}
.popOptions{
  display: grid;
  
}
#bobsPop{
  display: none;
}
