@font-face {
  font-family: cartoon;
  src: url(./components/Files/CARTOON\ FREE.ttf);
}

body {
  font-family: cartoon, Arial, Helvetica, sans-serif;
  background-color: rgb(211, 107, 107);
}

.home{
  display: grid;
  grid-template-rows: 2fr 3fr;
}
.home-head{
  display: grid;
  background-color: rgb(255, 221, 127);
}
.home-title{
  align-self: center;
  justify-self: center;
  font-size: 3rem;
}


.levelSelect {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: center;
  align-self: center;
  gap: 5rem;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
}

a{
  text-decoration: none;
}
a:visited{
  color: black;
}

.homeLevel{
  height: 200px;
}

.level-name {
  font-size: 2rem;
  color: white;
}


#legend {
  height: 5rem;
  width: 100%;
  display: none;
  grid-template-columns: repeat(9, 1fr);
  background-color: rgb(255, 221, 127);
  z-index: 3;
  padding-left: 5rem;
  align-items: center;
  position: fixed;
  font-size: 1.2rem;
}

.instructions {
  justify-self: end;
}
.legendImg {
  height: 5rem;
  justify-self: center;
} 
.findItem {
  justify-self: start;
  align-self: center;
}

.heroPhoto {
  width: 100%;
}

.pop-up {
  position: absolute;
  height: 6rem;
  width: 10rem;
  z-index: 2;
  grid-template-rows: 1fr 1fr 1fr;
}
.highlight {
  position: absolute;
  height: 60px;
  width: 60px;
  border: dashed 5px rgb(0, 255, 0);
  border-radius: 50%;
}
#highlight {
  display: none;
}
.popOptions{
  display: grid;
  
}
#bobsPop{
  display: none;
}

#timerBox{
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 40%;
  left: 35%;
  height: 5rem;
  width: 30rem;
  background-color: rgb(154, 154, 154);
  text-align: center;
  opacity: 1;
  justify-content: center;
  align-content: center;
  border-radius: 4px;
}
#timerBG{
  height: 100%;
  position: fixed;
  width: 100%;
  background-color: black;
  opacity: 0.9;
}
.timerBtn{
  width: 10rem;
  height: 2rem;
  justify-self: center;
  font-family: cartoon, Arial;
  font-size: 2 rem;
}

#foundPop{
  display: none;
  grid-row: 1fr 1fr 1fr;
  position: absolute;
  top: 40%;
  left: 35%;
  width: 30%;
  background-color: black;
  color: aliceblue;
  text-align: center;
  font-size: 1.5rem;
  

}
#name-input{
  height: 2rem;
  font-family: cartoon, Arial;
}
#submit-time{
  width: 50%;
  justify-self: center;
  margin-top: .5rem;
  height: 2rem;
  margin-bottom: .5rem;
  font-family: cartoon, Arial;
}
.gameEndBtns-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 2rem;
  gap: 2rem;
}
.gameEndBtns{
  font-family: cartoon, Arial;
}

#leaderboard-container{
  background-color: black;
  height: 80%;
  width: 100%;
  margin: none;
  display: none;
  opacity: .9;
  z-index: 3;
  position: fixed;
  top: 15%;
}
.leaderboard-header {
  color: white;
  text-align: center;
}

.leaderboard {
  background-color: white;
  width: 40rem;
  height: 80%;
  align-self: start;
  justify-self: center;
  overflow-y:auto;
  border-radius: 10px;
}
.leaderboard-title {
  color: white;
  text-align: center;
}
.labels {
  display: grid;
  grid-template-columns: 50% 50%;
  color: black;
  width: 80%;
}
.leader-label{
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;
}
.leaderboard-entry{
  color: black;
  width: 80%;
  align-self: center;
}

.leader-line{
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  justify-self: center;
  font-size: 1.2rem;
}
.leaderBtn-container{
  width: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  align-self: center;
}

.leaderBtn {
  width: 15rem;
  align-self: center;
  justify-self: center;
  align-self: start;
  height: 3rem;
  opacity: 1;
  font-size: 1.2rem;
  font-family: cartoon, Arial;
}
